@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Lily+Script+One&display=swap');

/* Toggle A */
input:checked ~ .dot {
  transform: translateX(100%);
  @apply bg-yellow-300;
}
input:checked ~ .block {
  /* background-color: #3b82f6ff; */
  background-color: white;
}

.bg-main-color {
  background-color: #16adff;
}

.rounded-xl {
  border-radius: 1.3rem;
}

.button {
  @apply font-bold text-white;
  @apply bg-blue-500  text-white hover:bg-blue-400;
  @apply m-5 rounded py-2 px-4;
  @apply min-w-max;
}

.circle-content {
  overflow: hidden;
}

.top-circle {
  margin: -150px;
  width: 200px;
  height: 200px;
  border-radius: 200px 200px 200px 200px;
  background: #c70032;
  border: 10px solid #1a1a1a;
}
